.jumbotron{
  /*height: 10vh;*/
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  color: black;
  background-color: #0088cc;
  /*position: relative;*/
  /*to/p: 50%;*/
}
img {
  height: 37.5em;
  width: 100%;
}

.carousel{
  /*position: fixed;*/
  height: 37.5em;
}
.message {
  position:    absolute;
  bottom:      13em;
  left: 18em;
  font-size:   150%;
  color:       #fff;
  padding:     0 20px;
  width:       40%;
  opacity: 0;
  text-align: center;
}
