.jumbotron{
  /*height: 10vh;*/
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  color: black;
  background-color: black;
  /*position: relative;*/
  /*to/p: 50%;*/
}
img {
  height: 35em;
  width: 100%;
}

.carousel{
  margin-top: 90px;
}
.message{
  position:absolute;
  z-index: 1;
  /*border: 1px solid white;*/
  width: 30em;
  height: 10em;
  text-align: center;
  margin: 0 auto;
  left: 23%;
  top: 20%;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  opacity: 0;
  padding-top: 4%;
}
