.wrapper{
  margin-bottom: 50px;
}
#carouselContainer{
  padding: 15px;
}
.experienceInfinitePossibilities{
  padding: 15px
}
.accordian{
  background-color: #0a3f67;
  color: white;
  border-radius: 20px;
}

.accordianForJobPosting{
  background-color: transparent;
  color: black;
}
.openingsList{
  display: none;
}
.openingsListOpen{
  display: block;
}
ul, ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
i{
  margin-top: 6px
}
.openings-text{
  padding-top: 10px;
}
