<div class="footer">
<div class="container">
    <span><strong>About Sigma Soft</strong></span><br><br>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and s
      crambled it to make a type specimen book. It has survived not only five
      centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with the release
      of Letraset sheets containing Lorem Ipsum passages, and more recently
      with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
      <a href="#" id="viewMore">
        View More
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    </p>

  <hr>

  <div class="row">
    <div class="col">
      <strong class="footerHeads">Services</strong>
      <ul>
        <a href=""><li>Software Development</li></a>
        <a href=""><li>Application Support</li></a>
      </ul>
    </div>
    <div class="col">
      <strong class="footerHeads">Solutions</strong><br>
      <ul>
        <a href=""><li>Business Intelligence</li></a>
        <a href=""><li>Enterprise Solutions</li></a>
        <a href=""><li>Mobility Solutions</li></a>
      </ul>
    </div>
    <div class="col">
      <strong class="footerHeads">Products</strong>
      <ul>
        <a href=""><li>IHealth X</li></a>
        <a href=""><li>Zopho</li></a>
      </ul>
    </div>
    <div class="col">
      <strong class="footerHeads">Resources</strong>
      <ul>
        <a href=""><li>Blog</li></a>
        <a href=""><li>Case Studies</li></a>
        <a href=""><li>News & Events</li></a>
      </ul>
    </div>
    <div class="col">
      <strong class="footerHeads">Company</strong>
      <ul>
        <a href=""><li>About Us</li></a>
        <a href=""><li>Partners</li></a>
        <a href=""><li>Clients</li></a>
        <a href=""><li>Careers</li></a>
        <a href=""><li>Contact Us</li></a>
      </ul>
    </div>
  </div>
  </div>
  <footer>
    <div class="container">
      <strong class="footerLogo">Sigma Soft</strong>
      <span class="copyRight">
        Copyright © 2017 Sigma Software. All rights reserved. <a href="">TERMS OF USE</a> | <a href="">PRIVACY POLICY</a>
      </span>
    </div>
  </footer>
</div>

