
<app-carousel></app-carousel>
<div class="container">
  <div class="row">
      <div class="col-md-3 whatWeDo">
        <img src="./../../assets/settings.jpg" alt="settings" class="row settings">
        <h3 class="row col-md-12">Software Development</h3>
        <span>
          We build scalable software products.
          We align technology with your business needs.
        </span>
        <button class="btn btn-primary row col-md-6">Read More</button>
      </div>
      <div class="col-md-3 whatWeDo">
        <img src="./../../assets/settings.jpg" alt="settings" class="row settings">
        <h3 class="row">Software Development</h3>
        <span>
          We build scalable software products.
          We align technology with your business needs.
        </span>
        <button class="btn btn-primary row col-md-6">Read More</button>
      </div>
      <div class="col-md-3 whatWeDo">
        <img src="./../../assets/settings.jpg" alt="settings" class="row settings">
        <h3 class="row">Software Development</h3>
        <span>
          We build scalable software products.
          We align technology with your business needs.
        </span>
        <button class="btn btn-primary row col-md-6">Read More</button>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3 whatWeDo">
      <img src="./../../assets/settings.jpg" alt="settings" class="row settings">
      <h3 class="row">Software Development</h3>
      <span>
          We build scalable software products.
          We align technology with your business needs.
        </span>
      <button class="btn btn-primary row col-md-6">Read More</button>
    </div>
    <div class="col-md-3 whatWeDo">
      <img src="./../../assets/settings.jpg" alt="settings" class="row settings">
      <h3 class="row">Software Development</h3>
      <span>
          We build scalable software products.
          We align technology with your business needs.
        </span>
      <button class="btn btn-primary row col-md-6">Read More</button>
    </div>
    <div class="col-md-3 whatWeDo">
      <img src="./../../assets/settings.jpg" alt="settings" class="row settings">
      <h3 class="row">Software Development</h3>
      <span>
          We build scalable software products.
          We align technology with your business needs.
        </span>
      <button class="btn btn-primary row col-md-6">Read More</button>
    </div>
  </div>
</div>

<app-testemonials></app-testemonials>




