<div class="jumbotron">
</div>
<h1>Enterprise Solutions</h1>
<h3>Empower your business to stay ahead of market changes
</h3><br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
        <span>Global enterprises need to focus on gaining operational efficiency by maintaining vital information in a consistent and accurate manner. They need a comprehensive set of solutions to support industry specificoperational business processes.</span>
        <br><br>
        <span>Our enterprise solutions enable companies to extract and spread mission critical data across business units providing them real time operating information. Our solutions are customized to meet your organization and sector requirements.</span>
        <br><br>
        <span>SigmaSoft enterprise solutions will help you in:</span>
      </p>
      <ul>
        <li>Accelerating workflows and optimizing business processes,</li>
        <li>Enabling integrations with mobile applications.</li>
        <li>Enabling resources to drive maximum business value.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <h5>Enterprise Solutions</h5>
        <hr>
        <li>SAP</li>
        <li>Microsoft Dynamics</li>
        <li>Salesforce</li>
        <li>PeopleSoft</li>
      </ul>
    </div>
  </div>
</div>

