<h2>Testimonials</h2>

<div class="row">
  <div class="col-md-4 testimonial">
    <div class="col-md-9 message">
      <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra, orci sed tincidunt posuere, elit neque venenatis massa, eu pretium ex ligula sed justo.
        Nulla sit amet neque a quam suscipit sodales eleifend quis odio. "
      </i><br>
      <span class="name">- IT Head of an Ivy League University</span>
    </div>
  </div>
  <div class="col-md-4 testimonial">
    <div class="col-md-9 message">
      <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra, orci sed tincidunt posuere, elit neque venenatis massa, eu pretium ex ligula sed justo.
        Nulla sit amet neque a quam suscipit sodales eleifend quis odio. "
      </i><br>
      <span class="name">- IT Head of an Ivy League University</span>
    </div>
  </div>
  <div class="col-md-4 testimonial">
    <div class="col-md-9 message">
      <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra, orci sed tincidunt posuere, elit neque venenatis massa, eu pretium ex ligula sed justo.
        Nulla sit amet neque a quam suscipit sodales eleifend quis odio. "
      </i><br>
      <span class="name">- IT Head of an Ivy League University</span>
    </div>
  </div>
</div>
