nav{
  border-bottom: 4px solid #0088cc;
}
.navbar-brand{
  font-size: 40px;
  color: #0088cc;
}
.navbar-light .navbar-nav .nav-link{
  color: #0088cc;
  text-transform: uppercase;
  font-weight: bolder;
}
.list{
  width: 100%;
}
ul li{
  margin-left: 10px;
  margin-right: 10px;
}
.newNav{
  float: left;
  display: inline;
  font-weight: bolder;
  font-size: 20px;
}

.newNav ul li {
  display: inline-block;
}

@media (max-width: 1326px) {
  .hamBurger{
    position: relative;
    left: 0;
    top: 50%;
  }
  .navbar-brand{
    width: 180px;
    position: relative;
    margin: 0 auto;
  }
  .dropdown-menu::after {
    content: none;
  }

}

/* --------------------------------------------------- */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /*font-size: 25px;*/
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  /*font-size: 36px;*/
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.services{
  display: none;
  position: relative;
  font-size: 15px;
  left: -20%;
}
#mySidenav ul li{
  margin:0;
  padding:0;
  list-style-type: none;
}
#mySidenav ul li span{
  font-size: 30px;
  position: relative;
  left: 20%;
}
#mySidenav span{
  color: gray;
}
#mySidenav span:hover {
  cursor: pointer;
  color: white;
}
