/*.navbar{*/
  /*margin-bottom: 60px;*/
/*}*/
.nav-link{
  color: black;
}
a{
  font-weight: bolder;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

/**************for changing the dropdown menu on hover**********/
.dropdown-menu{
  margin-top: -0.6px;
}
.dropdown:hover>.dropdown-menu {
  display: block;
  background-color: white;
  border-top: 4px solid #9db2c2;
}
.dropdown:hover{
  background-color: #9db2c2;
  color: white;
}
/********************************************************************/


@media (max-width: 992px) {
  .navbar-nav > li{
    padding-left: 0;
    padding-right: 0;
  }
}
