<nav class="navbar navbar-toggleable-lg navbar-light bg-faded fixed-top">
  <button class="hamBurger navbar-toggler navbar-toggler-right"
          type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="openNav()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="newNav navbar-toggler-right" id="navbarNavDropdown">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a href="#">Home</a>
      <ul>
        <span appSiblingsToggle>Services
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
        <div class="services">
          <a href="#"><li>Software Development</li></a>
          <a href="#"><li>Application Support</li></a>
          <a href="#"><li>Software Solution</li></a>
        </div>
      </ul>
      <ul>
        <span appSiblingsToggle>Products
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
        <div class="services">
          <a href="#"><li>Business Intelligence</li></a>
          <a href="#"><li>Enterprise Solutions</li></a>
          <a href="#"><li>Mobility Solutions</li></a>
        </div>
      </ul>
      <ul>
        <span appSiblingsToggle>Resources
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
        <div class="services">
          <a href="#"><li>Case Studies</li></a>
          <a href="#"><li>News and Events</li></a>
          <a href="#"><li>Blog</li></a>
        </div>
      </ul>
      <ul>
        <span appSiblingsToggle>Company
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
        <div class="services">
          <a href="#"><li>About Us</li></a>
          <a href="#"><li>Partners</li></a>
          <a href="#"><li>Clients</li></a>
          <a href="#"><li>Careers</li></a>
          <a [routerLink]="['/contact']"><li>Contact Us</li></a>

        </div>
      </ul>

    </div>
  </div>

  <a class="navbar-brand" href="#">SigmaSoft</a>
  <div class="collapse navbar-collapse pull-right">
    <ul class="navbar-nav list">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div appBorderBottomHover class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Software Development</a>
          <a class="dropdown-item" href="#">Application Support</a>
          <a class="dropdown-item" href="#">Software Solution</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Solutions
        </a>
        <div appBorderBottomHover class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Business Intelligence</a>
          <a class="dropdown-item" href="#">Enterprise Solutions</a>
          <a class="dropdown-item" href="#">Mobility Solutions</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div appBorderBottomHover class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">I HealthX</a>
          <a class="dropdown-item" href="#">Zopho</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div appBorderBottomHover class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Blog</a>
          <a class="dropdown-item" href="#">Case Studies</a>
          <a class="dropdown-item" href="#">News and Events</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Company
        </a>
        <div appBorderBottomHover class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">About Us</a>
          <a class="dropdown-item" href="#">Partners</a>
          <a class="dropdown-item" href="#">Clients</a>
          <a class="dropdown-item" href="#">Careers</a>
          <a class="dropdown-item" [routerLink]="['/contact']">Contact Us</a>
        </div>
      </li>
      <!--------------Search Bar ---------------------------- !>
      <!--<li class="search pull-right">-->
        <!--<div class="input-group">-->
          <!--<input type="text" class="form-control" placeholder="Search for...">-->
          <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-default" type="button">Go!</button>-->
      <!--</span>-->
        <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
      <!--</li>-->
    </ul>
  </div>
</nav>
