<div class="jumbotron">
  <div class="container">
    <h1>About SigmaSoft</h1>
    <p>
      Infinite provides custom IT based business process solutions, next-gen mobility solutions and product engineering services, specializing in the Healthcare, Banking & Finance, Telecommunications & Technology and Media & Publishing industries.
    </p>
    <p>
      Infinite’s solutions build on proprietary industrial frameworks that significantly reduce work effort and cost while providing faster go-to-market speeds and nimble responses to market dynamics – a complete suite of services we call Platformization™.
    </p>
  </div>
</div>
