<div class="jumbotron">
</div>
<h1>Application Support</h1>
<h3>We ensure smooth running of your applications
</h3><br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>
        Maintaining business critical applications to meet the changing business needs is critical to enterprises. IT teams have to manage heterogeneous application environments and are challenged with different requirements from functional business units.

        We help you in managing your applications and provide seamless support. Our specialist support teams ensure functionality, scalability and performance of your applications. We extend your IT applications life with continuous improvement and transformation.

        Sigma Software helps your organization in:</p>
      <ul>
        <li>Increasing application efficiency</li>
        <li>Reducing system downtime</li>
        <li>Driving high performance</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <h5>Application Support Services</h5>
        <li>Application Support (L1, L2 & L3)</li>
        <li>Application Maintenance</li>
        <li>Configuration & Release Management</li>
        <li>Change Management</li>
        <li>Performance Management</li>
      </ul>
    </div>
  </div>
</div>

